<div id="user_state_code_wrapper">
  <% if @country.nil? %>
    <em>Please select a country above</em>
  <% elsif @country.subregions? %>
    <%= subregion_select(:user, :state_code, @parent_region, {}, { class: 'form-control' }) %>
  <% else %>
    <%= text_field(:user, :state_code, class: 'form-control') %>
  <% end %>
</div>
